# DSCI-351 Final Project: MongoDB Emulation
Student: Jai Agrawal
Student ID: 1061531919

In this Jupyter notebook, I will demo the app I made which emulates a MongoDB server using a MySQL backend.

In [7]:
# imports
from emulated_mongodb import *

# Demo of App
The first step in my app is to connect to the emulated server, using the MySQL credentials I possess.

In [8]:
# Connect to the emulated MongoDB server
client = EmulatedMongoClient(host="localhost", user="jai", password="dsci351", database="f1")

The next step, having connected to the server, is to connect to the "f1" database.

In [9]:
# Access the database
db = client["f1"]

We then have to define a schema for the inputs we're going to be feeding into "f1" database.

In [10]:
# Define the schema for the collection
schema = {
    'driver_id': 'INT PRIMARY KEY',
    'first_name': 'VARCHAR(50)',
    'last_name': 'VARCHAR(50)',
    'team': 'VARCHAR(50)',
    'country': 'VARCHAR(50)',
    'points': 'INT',
    'podiums': 'INT'
}

# CREATING A COLLECTION
Next, we have to create and access the collection - using our defined schema.

In [11]:
# # Create a new collection
# db.create_collection("f1_drivers_table", schema=schema)

# Access the collection
collection = db["f1_drivers_table"]

Now that we've accessed the collection, we next insert values into the collection (in MongoDB format)

In [12]:
# Insert sample driver data
sample_drivers = [
    {'driver_id': 1, 'first_name': 'Lewis', 'last_name': 'Hamilton', 'team': 'Mercedes', 'country': 'UK', 'points': 400, 'podiums': 192},
    {'driver_id': 2, 'first_name': 'Max', 'last_name': 'Verstappen', 'team': 'Red Bull Racing', 'country': 'Netherlands', 'points': 350, 'podiums': 80},
    {'driver_id': 3, 'first_name': 'Charles', 'last_name': 'Leclerc', 'team': 'Ferrari', 'country': 'Monaco', 'points': 200, 'podiums': 24},
    {'driver_id': 4, 'first_name': 'Lando', 'last_name': 'Norris', 'team': 'McLaren', 'country': 'UK', 'points': 150, 'podiums': 6},
]

# Populate table
for driver in sample_drivers:
    collection.insert_one(driver)

I wrote a small function using mysql.connecter to print out the MySQL Table that exists at the backend, so we now check using it:

In [13]:
print_mysql_table(client.connection, "f1_drivers_table")

|   driver_id | first_name   | last_name   | team            | country     |   points |   podiums |
|------------:|:-------------|:------------|:----------------|:------------|---------:|----------:|
|           1 | Lewis        | Hamilton    | Mercedes        | UK          |      400 |       192 |
|           2 | Max          | Verstappen  | Red Bull Racing | Netherlands |      350 |        80 |
|           3 | Charles      | Leclerc     | Ferrari         | Monaco      |      200 |        24 |
|           4 | Lando        | Norris      | McLaren         | UK          |      150 |         6 |

# INSERTING DOCUMENTS INTO THE COLLECTION
Next, we insert an entry.

In [14]:
# Insert a document
collection.insert_one({'driver_id': 5, 'first_name': 'Daniel', 'last_name': 'Ricciardo', 'team': 'McLaren', 'country': 'Australia', 'points': 120, 'podiums': 32})
collection.insert_one({'driver_id': 6, 'first_name': 'George', 'last_name': 'Russell', 'team': 'Mercedes', 'country': 'UK', 'points': 250, 'podiums': 9})
collection.insert_one({'driver_id': 7, 'first_name': 'Sergio', 'last_name': 'Perez', 'team': 'Red Bull Racing', 'country': 'Mexico', 'points': 280, 'podiums': 28})
collection.insert_one({'driver_id': 8, 'first_name': 'Fernando', 'last_name': 'Alonso', 'team': 'Renault', 'country': 'Spain', 'points': 80, 'podiums': 99})

We now check this using our table method.

In [15]:
print_mysql_table(client.connection, "f1_drivers_table")

|   driver_id | first_name   | last_name   | team            | country     |   points |   podiums |
|------------:|:-------------|:------------|:----------------|:------------|---------:|----------:|
|           1 | Lewis        | Hamilton    | Mercedes        | UK          |      400 |       192 |
|           2 | Max          | Verstappen  | Red Bull Racing | Netherlands |      350 |        80 |
|           3 | Charles      | Leclerc     | Ferrari         | Monaco      |      200 |        24 |
|           4 | Lando        | Norris      | McLaren         | UK          |      150 |         6 |
|           5 | Daniel       | Ricciardo   | McLaren         | Australia   |      120 |        32 |
|           6 | George       | Russell     | Mercedes        | UK          |      250 |         9 |
|           7 | Sergio       | Perez       | Red Bull Racing | Mexico      |      280 |        28 |
|           8 | Fernando     | Alonso      | Renault         | Spain       |       80 |        99 |

We can see, the new entry has been added.

# UPDATING DOCUMENTS IN THE COLLECTION
We move onto updating the documents already in the MySQL database. We need to do this in MongoDB format.

In [16]:
# Update a document
collection.update_one({"driver_id": 8}, {"$set": {"team": "Aston Martin"}})

Again, we check.

In [17]:
print_mysql_table(client.connection, "f1_drivers_table")

|   driver_id | first_name   | last_name   | team            | country     |   points |   podiums |
|------------:|:-------------|:------------|:----------------|:------------|---------:|----------:|
|           1 | Lewis        | Hamilton    | Mercedes        | UK          |      400 |       192 |
|           2 | Max          | Verstappen  | Red Bull Racing | Netherlands |      350 |        80 |
|           3 | Charles      | Leclerc     | Ferrari         | Monaco      |      200 |        24 |
|           4 | Lando        | Norris      | McLaren         | UK          |      150 |         6 |
|           5 | Daniel       | Ricciardo   | McLaren         | Australia   |      120 |        32 |
|           6 | George       | Russell     | Mercedes        | UK          |      250 |         9 |
|           7 | Sergio       | Perez       | Red Bull Racing | Mexico      |      280 |        28 |
|           8 | Fernando     | Alonso      | Aston Martin    | Spain       |       80 |        99 |

Clearly, it worked.

# FIND INFORMATION FROM THE DOCUMENTS
We now use find statements

In [18]:
# Find Red Bull drivers
documents = collection.find({"team": "Red Bull Racing"})
print(documents)

[{'driver_id': 2, 'first_name': 'Max', 'last_name': 'Verstappen', 'team': 'Red Bull Racing', 'country': 'Netherlands', 'points': 350, 'podiums': 80}, {'driver_id': 7, 'first_name': 'Sergio', 'last_name': 'Perez', 'team': 'Red Bull Racing', 'country': 'Mexico', 'points': 280, 'podiums': 28}]

In [19]:
documents2 = collection.find({"podiums": {"$gt": 10}}, {"driver_id":1})
print(documents2)

[{'driver_id': 1}, {'driver_id': 2}, {'driver_id': 3}, {'driver_id': 5}, {'driver_id': 7}, {'driver_id': 8}]

In [20]:
documents3 = collection.find({"$and": [
    {"podiums": {"$lte": 50}},
    {"points": {"$gt": 140}}
]}, {"first_name": 1})
print(documents3)

documents4 = collection.find({"$or": [
    {"podiums": {"$lte": 50}},
    {"points": {"$gt": 140}}
]}, {"first_name": 1})
print(documents4)

[{'first_name': 'Charles'}, {'first_name': 'Lando'}, {'first_name': 'George'}, {'first_name': 'Sergio'}]
[{'first_name': 'Lewis'}, {'first_name': 'Max'}, {'first_name': 'Charles'}, {'first_name': 'Lando'}, {'first_name': 'Daniel'}, {'first_name': 'George'}, {'first_name': 'Sergio'}]

# AGGREGATE DATA IN THE DOCUMENTS

1. Count the number of drivers per team:

In [21]:
result = collection.aggregate([
  {
    "$group": {
      "_id": "team",
      "count": {"SUM": 1}
    }
  }
])

print(result)

[{'team': 'Mercedes', 'count': 2}, {'team': 'Red Bull Racing', 'count': 2}, {'team': 'Ferrari', 'count': 1}, {'team': 'McLaren', 'count': 2}, {'team': 'Aston Martin', 'count': 1}]

2. Calculate the average points and podiums per team:

In [22]:
result = collection.aggregate([
  {
    "$group": {
      "_id": "team",
      "averagePoints": {"AVG": "$points"},
      "averagePodiums": {"AVG": "$podiums"}
    }
  }
])
print(result)

[{'team': 'Mercedes', 'averagePoints': 325, 'averagePodiums': 100}, {'team': 'Red Bull Racing', 'averagePoints': 315, 'averagePodiums': 54}, {'team': 'Ferrari', 'averagePoints': 200, 'averagePodiums': 24}, {'team': 'McLaren', 'averagePoints': 135, 'averagePodiums': 19}, {'team': 'Aston Martin', 'averagePoints': 80, 'averagePodiums': 99}]

3. Show the drivers with more than 300 points, sorted by points in descending order:

In [23]:
result = collection.aggregate([
  {
    "$match": {
      "points": {"$gt": 300}
    }
  },
  {
    "$sort": {
      "points": -1
    }
  }
])
print(result)

[{'driver_id': 1, 'first_name': 'Lewis', 'last_name': 'Hamilton', 'team': 'Mercedes', 'country': 'UK', 'points': 400, 'podiums': 192}, {'driver_id': 2, 'first_name': 'Max', 'last_name': 'Verstappen', 'team': 'Red Bull Racing', 'country': 'Netherlands', 'points': 350, 'podiums': 80}]

4. Calculate the total points and podiums per country:

In [24]:
result = collection.aggregate([
  {
    "$group": {
      "_id": "country",
      "totalPoints": {"SUM": "$points"},
      "totalPodiums": {"SUM": "$podiums"}
    }
  }
])
print(result)

[{'country': 'UK', 'totalPoints': 800, 'totalPodiums': 207}, {'country': 'Netherlands', 'totalPoints': 350, 'totalPodiums': 80}, {'country': 'Monaco', 'totalPoints': 200, 'totalPodiums': 24}, {'country': 'Australia', 'totalPoints': 120, 'totalPodiums': 32}, {'country': 'Mexico', 'totalPoints': 280, 'totalPodiums': 28}, {'country': 'Spain', 'totalPoints': 80, 'totalPodiums': 99}]

# FURTHER WORK
- Add greater than/less than functionality to find
- Check for more functionality in aggregation function
- Check for errors

# Check in Terminal

1. Log in using "mysql -u jai -p"
2. Password dsci351
3. USE f1
4. SELECT * FROM f1_drivers_table;